<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title">Escalas:
      <span class="badge">{{escalas.length}}</span>
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="text-right col-sm-5 col-sm-offset-7">
        <listado-actions></listado-actions>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripción</th>
        <th>Monto</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="escala in escalas" ng-click="selectScale(escala.id)" ng-class="{selected: escala.id == selectedScale}">
        <td>{{$index + 1}}</td>
        <td>{{escala.description}}</td>
        <td>{{escala.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>