.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
    line-height: 1.2;
    font-size: .9em;
}


.form-control {
    height: 30px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.2;
}

label {
	font-weight: bold;
	font-size: .85em;
	line-height: 1.2;
}

.form-horizontal .control-label {
    padding-top: 4px;
}

.ng-invalid.ng-dirty {
	border-color: #D9230F;
}

.ng-valid.ng-dirty {
	border-color: #468847;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.content {
	padding: 1em;
}

.logo-title{
	width: 32px;
}

.text-title {
	height: 32px;
	line-height: 32px;
	vertical-align: top;
}

.input-medium {
	width: 20em;
}

.form-container {
	padding: 1em 2em;
}

.header-app {
	margin: 0;
	padding: .5em !important;
}

.text-center {
	text-align: center;
}


.navbar {
	min-height: 32px !important;
}

.sidebar {
    position: fixed;
    top: 33px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
	margin-top: 33px;
	padding-top: 1em;
}

.modal-dialog {
    width: 650px;
    margin-top: 80px;
}

.modal-dialog .modal-body {
	padding: 0;
}

.modal-dialog .modal-body .panel {
	margin-bottom: 0;
}

.table-hover>tbody>tr:hover.selected, .selected {
	background-color: #ededed;
}